.result-image {
  cursor: pointer;
}

.result-image:hover {
  opacity: 0.3;
  filter: alpha(opacity=30);
}

.image-info {
  display: none;
}

.center-content{
  position:fixed;
  background-color:#fff;
  margin: auto;
   top:0px;
   bottom:0px;
  left:0px;
  right:0px;
  width: 1000px;
  height: 500px;
}

#detailed-image{
  max-height:500px;
  max-width:700px;
  display:inline;
}

#detailed-info{
  display:inline;
}

.overlay-back{
  position:fixed;
  opacity:0.9;
  background-color:#333;
  width:100%;
  height:100%;
  top:0px;
  left:0px;
}

.overlay{
  z-index:100;
  display:none
}

.select-icon{
  cursor: pointer;

}