{% extends "base.html" %}
{% block content %}
  <h3 id="home-title"> Project Status </h3>
  <br/>
  {% for name in projects %}
    <div class="col-lg-12">
      <span class="project-name">{{name}}</span> : {{projects[name]}} items
      <button type="button" class="delete-button btn btn-danger">Delete</button>
    </div>
  {% endfor %}
{% endblock %}

{% block includeJs %}
<script src="/static/js/status.js"></script>
{% endblock %}

{% block includeCss %}
<link rel="stylesheet" href="/static/css/home.css"/>
{% endblock %}